:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;

  --margin-card: 30px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ---------------------------HEADER---------------------------*/
.header-site {
  border-bottom: 1px solid #ececec;
  background-color: var(--third-text-color);
}

.header-conteiner {
  display: flex;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.part-logo {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.icon-heder {
  fill: currentColor;
  margin-right: 10px;
}

/*----------------------------HERO--------------------------*/
.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-hero.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background: #188ce8;
}

/*-----------------------SECTION ADVANTAGES----------------------*/
.advantages-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.advantages {
  display: flex;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
/*-----------------------SECTION OUR WORK END TEAM END CLIENT--------------------*/
.our-work-title,
.team-title,
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-our-work {
  padding-top: 0;
}

.our-work {
  display: flex;
}

.our-work-item:not(:last-child) {
  margin-right: 30px;
}

.section-background {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-text-color);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  display: flex;
}

.social-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.icon-social {
  fill: currentColor;
}

.social-link:hover > .icon-social {
  fill: var(--third-text-color);
}
.social-link:focus > .icon-social {
  fill: var(--third-text-color);
}
.client {
  display: flex;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: block;
  padding: 12px 31px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
}

.icon-client {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover > .icon-client {
  fill: var(--accent-color);
}

.client-link:focus > .icon-client {
  fill: var(--accent-color);
}

/*--------------------FOOTER---------------------------*/
.footer-site {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.social-link-footer {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:focus,
.social-link-footer:hover {
  background-color: var(--accent-color);
}

.logo-adress {
  margin-right: 70px;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  color: var(--third-text-color);
}

.adress-mail,
.adress-tel {
  color: rgba(255, 255, 255, 0.6);
}

/*--------------------PORTFOLIO------------------------*/
.portfolio-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
}

.filter-btn:focus,
.filter-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: calc(-1 * var(--margin-card));
  margin-bottom: calc(-1 * var(--margin-card));
}

.gallery-item {
  flex-basis: calc(100% / 3 - var(--margin-card));
  margin-right: var(--margin-card);
  margin-bottom: var(--margin-card);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-link {
  display: block;
  color: var(--main-text-color);
}

.gallery-description {
  padding: 20px 24px;
  background-color: var(--third-text-color);
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
